*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: roboto;}


h1,h2,h3,h4,h5,h6{
    color: #1d273b;
    font-weight: 300;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.contenedor1{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

h1{
    font-size: 50px;
}

/*  Header */
/* creo  una barra al inicio de todo paraa q no me tapeel contenido del header */
header::before{
    content:"";
    display: block;
    margin-bottom: 80px;
}

/* modifico el estilo del contendor del nav */
nav{
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    /* transition: ease-in-out 0.5s; */
    position: fixed;
    top: 0;
    z-index: 100;
    
}

.nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0 40px;
}
/* modifico el contenedor del logo */
.nav .logo{
    height: 80px;

}
/* modifico el tamano del logo */
.nav .logo img{
    height: 100%;
    vertical-align: top;
    
}

.enlaces-header{
    font-weight: 300;
}

.nav .enlaces-header a{
    color: #5d6678;
    text-decoration: none;
    margin-left: 20px;
}

/* modifico el contendor de la hamburguesa */
.hamburguer{
    width: 80px;
    height: 80px;
    display: none;
    background: #EA3B74;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    /* transition: color 0.5s ease-in; */
}
/* modifico la imagen hamburguesa */
.hamburguer >i{
    font-size: 25px;
    line-height: 80px;
}

.contenido-header{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* imagen del header */
.contenido-header > img{
    width: 450px;
    height: 550px;
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(251, 9, 42 , .40);
    margin-right: 20px;
    animation: ease-in animat 2s;
}
/* animacion a la imagen -- efecto de agrandar */
@keyframes animat{
    0%{
        transform: scale(0);
    }100%{
        transform: scale(1);
    }
}

.textos-header{
    margin: 0 0 0 30px;
}

.contenido-header p{
    font-weight: 100;
    margin-top: 14px;
    margin-right: 5px;
    color: #5d6678;
}

/* boton de "leer mas" */
.contenido-header a{
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;

    background: #EA3B74;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(251, 9, 42 , .40);
}

.titulo{
    font-size: 50px;
}

/* About us */

.about-us{
    background: #f2f2f2;
}

.contenedor-articulo{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-around;

}

.articulo{
    width: 29%;
    background: white;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
    transition: 0.5s;
}

.articulo:hover{
    box-shadow: 0 4px 10px rgba(17,29,48, .26) ;
}

.articulo>i{

    font-size: 30px;
    color: #fff;
    background: #EA3B74;
    display: inline-block;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    border-radius: 50%;
    box-shadow: 0 8px 32px rgba(251, 9, 42 , .40);
}

.articulo>h3{
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.articulo>p{
    font-weight: 100;
    color:#5d6678;
    margin-top: 15px;
    padding-bottom: 20px;
}

.articulo>a{
    color: #5d6678;
    font-weight: 400;
    text-decoration: none;
}

.articulo>a:hover{
    color:#EA3B74 ;
    transition: color .5s;

}

/* questions */

.questions{

    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* imagen del header */
.questions > img{
    width: 550px;
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(251, 9, 42 , .40);
    margin-right: 20px;
    animation: ease-in animat 2s;
   
}

.textos-questions{
    margin: 0 0 0 30px;
}

.textos-questions p{
    font-weight: 100;
    margin-top: 14px;
    color: #5d6678;
}

/* boton de "leer mas" */
.textos-questions a{
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;

    background: #EA3B74;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(251, 9, 42 , .40);
}
/* Results */
.results{
    background: #063791;
    padding-top: 60px;
    padding-bottom: 60px;

   
    

}

.conten-results{
    display: flex;
    justify-content: space-evenly;
    
    
}
.numbers{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.numbers .number{
    width: 45%;
    background: rgba(104, 150, 241, 0.4);
    color: white;
    border-radius: 10px;
    padding: 40px 35px;
    margin-bottom: 20px;
}

.numbers .number>h4{
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
}

.numbers .number>p{
    color: #f2f5fc;
    font-weight: 300;
}

.results-text{
    width: 37%;

}
.results-text>h4{
    color: #fff;
    font-size: 40px;
}

.results-text p{
    color: #fff;
    font-weight: 300;
    margin: 20px 0;
}

.results-text>a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border: 3px solid #fff;
    padding: 10px 0;
    width: 120px;
    text-align: center;
    border-radius: 5px;
    background: #EA3B74;
    
}

/* Service */

.services{
    display: flex;
    justify-content: space-between;
}

.services>img{
    /* width: 500px; */
    width: 450px;
    height: 550px;
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(251, 9, 42 , .40);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    animation: ease-in animat 2s;
}

.box-skills{
    margin: 30px 30px 0 0;
}

.box-skills h4{
    font-size: 24px;
    background: #f2f2f2;
    width: 350px;
    border-radius: 6px;
    padding: 10px 0 10px 15px;
    margin-bottom: 13px;
}

/* Footer */

footer{
    background: #f2f2f2;
    padding: 60px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.part-footer{
    width: 20%;
    text-align: center;
}

.part-footer h4{
    color: #1d273b;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}
.part-footer a{
    display: block;
    text-decoration: none;
    color: #5d6678;
    font-weight: 300;
    transition: color .3s ease-in-out;
    margin-bottom: 10px;
}
.part-footer a:hover{
    color: #EA3B74;
}


.part-footer img{
    width: 70%;
}

.social-media i{
    font-size: 20px;
    display: inline-block;
    color: #adb6c7;
    border: 1px solid #adb6c7;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition:all ease-in-out .3s;
    margin-right: 5px;
}

.social-media i:hover{
    color: #fff;
    background-color:#1d273b ;
}

/* Breakpoints - Responsive */

@media screen and (max-width:800px){
.titulo{
    font-size: 45px;
}

.contenido-header{
    flex-direction: column;
    justify-content: space-evenly;
    height: 720px;
}
.contenido-header>img{
    width: 400px;
    height: 450px;
    margin: 15px;
}

.textos-header{
    margin: 0;
}

/* About us */

.articulo{
    width: 45%;
}
/* Questions */

.questions{
    height:720px ;
    justify-content: space-evenly;
    flex-direction: column;
}

/* Results */
.conten-results{
    flex-direction: column-reverse;

}
.results-text{
    width: 100%;
}
.results-text>a{
    margin-bottom: 60px;
}
.numbers{
    width: 95%;
    justify-content: space-between;
}

/*  Services */

.services{
    flex-direction: column-reverse;
    align-items: center;
}
.box-skills{
    margin: 20px 0 0 0;
}
.box-skills>h4{
    width: 500px;
}
.services>img{
    width: 400px;
}
/* Footer */

footer{
     justify-content: space-evenly;
}
.part-footer{
    width: 40%;
    margin-bottom: 40px;
}